faster-whisper
numpy
obsws-python
psutil
pydub
pynput
python-dotenv
rapidfuzz
requests
sounddevice
urllib3
websocket-client
comtypes==1.4.17; sys_platform == 'win32'
winrt-Windows.Media.Control==3.2.1; sys_platform == 'win32'
winrt-Windows.Foundation==3.2.1; sys_platform == 'win32'
winrt-Windows.Foundation.Collections==3.2.1; sys_platform == 'win32'
